<div class="container">
	<div class="playArea1">
		player 3
		{{game.players[2]}}
	</div>
	<div class="mid-container">
		<div class="playArea2">
		player 3
			{{game.players[3]}}
		</div>
		<div class="gameArea">
			Gamespace
			<div id="newGameToggle" ng-show="showNewGame">
				<p>how many players?</p>
				<input type="text" name="" id="" ng-model="players">
				<button ng-click="setPlayers(players)">Go</button>	
			</div>
			<div ng-hide="showNewGame">
				<button ng-click="dealCards()">Deal Cards</button>
			</div>
		</div>
		<div class="playArea3">
		player 4
			{{game.players[4]}}
		</div>
	</div>
	<div class="playArea4 player-container">
	player 1
		{{game.players[1]}}
		<div>
			<span ng-repeat="(key, value) in game.players[1].revealedCards">
				{{value.rank}}
				{{value.suit}}
				<img ng-src="/images/cards/{{value.rank}}_of_{{value.suit}}.png" alt="" height="100px">
			</span>
		</div>
		<div>
			<span ng-repeat="(key, value) in game.players[1].hand">
				{{value.rank}}
				{{value.suit}}
				<img ng-src="/images/cards/{{value.rank}}_of_{{value.suit}}.png" alt="" height="100px">
			</span>
		</div>
	</div>
</div>